*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial black
}
 
 body{
 	background-color: black;
 	color: #333;
 	line-height:1.6 ;
 	padding: 20px;
 }

 .site-header{
 	display: flex;
 	align-items: center;
 	gap: 15px;
 	padding: 20px;
 	border-bottom: 1px solid #eee;
 }

 .logo{
 	width: 100px;
 	height: 50px;
 	object-fit: contain;
 }

 .site-title{
 	margin: 0;
 	font-size: 24px;
 	color: #333;
 }

 .container{
 	max-width: 1200px;
 	margin: 0 auto;
 }


 nav{
 	background-color: red;
 	padding: 20px 30px;
 	border-radius: 10px;
 	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 	margin-bottom: 10px;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }


 .menu{
 	display: flex;
 	gap: 200px;
 	text-align: center;
 }


 .menu a{
 	text-decoration: none;
 	color: black;
 	font-weight: 400;
 	padding: 5px 0;
 	transition: color 0.3s;
 }


 .menu a:hover{
 	color: blue;

 }
@media (max-width: 768px) {
	nav{
		flex-direction: column;
		gap: 15px;
	}
	.menu{
		gap: 20px;
	}
	.main-content{
		padding: 25px;
	}
	.company-name{
		font-size: 2.5rem;
	}
}


.contactbox{
	background: white;
	padding: 20px;
	width: 300px;
	margin: auto;
	border-radius: 8px;
	box-shadow: 0 0 10 rgba(0,0, 0, 0, 0.1);
}

input, textarea{
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button{
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	background: #007bff;
	border: none;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}

button:hover{
	background: #0056b3;
}

footer{
	background-color: #333;
	color: white;
	padding: 20px;
	text-align: center;
}

.footer a{
	color: #00aaff;
	text-decoration: none;
}

.footer a:hover{
	text-decoration: underline;
}